DPB/src/main/resources/patterns_schema.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GoF">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="category">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="pattern">
                <xs:complexType>
                  <xs:sequence>
                    <xs:choice maxOccurs="unbounded">
                      <xs:element name="description" type="xs:string" />
                      <xs:element maxOccurs="unbounded" name="interface">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element maxOccurs="unbounded" name="method">
                              <xs:complexType>
                                <xs:sequence>
                                  <xs:element name="type" type="xs:string" />
                                  <xs:element minOccurs="0" name="parameter">
                                    <xs:complexType>
                                      <xs:sequence>
                                        <xs:element name="type" type="xs:string" />
                                      </xs:sequence>
                                      <xs:attribute name="id" type="xs:string" use="required" />
                                    </xs:complexType>
                                  </xs:element>
                                  <xs:element minOccurs="0" name="code" type="xs:string" />
                                </xs:sequence>
                                <xs:attribute name="id" type="xs:string" use="required" />
                              </xs:complexType>
                            </xs:element>
                          </xs:sequence>
                          <xs:attribute name="id" type="xs:string" use="required" />
                          <xs:attribute name="annotation" type="xs:string" use="required" />
                        </xs:complexType>
                      </xs:element>
                      <xs:element maxOccurs="unbounded" name="class">
                        <xs:complexType>
                          <xs:sequence minOccurs="0">
                            <xs:element minOccurs="0" maxOccurs="unbounded" name="field">
                              <xs:complexType>
                                <xs:sequence>
                                  <xs:element name="type" type="xs:string" />
                                </xs:sequence>
                                <xs:attribute name="id" type="xs:string" use="required" />
                                <xs:attribute name="isStatic" type="xs:boolean" use="optional" />
                              </xs:complexType>
                            </xs:element>
                            <xs:element minOccurs="0" maxOccurs="unbounded" name="method">
                              <xs:complexType>
                                <xs:sequence>
                                  <xs:element name="type" type="xs:string" />
                                  <xs:element minOccurs="0" name="parameter">
                                    <xs:complexType>
                                      <xs:sequence>
                                        <xs:element name="type" type="xs:string" />
                                      </xs:sequence>
                                      <xs:attribute name="id" type="xs:string" use="required" />
                                    </xs:complexType>
                                  </xs:element>
                                  <xs:element minOccurs="0" name="code" type="xs:string" />
                                </xs:sequence>
                                <xs:attribute name="id" type="xs:string" use="required" />
                                <xs:attribute name="isAbstract" type="xs:boolean" use="optional" />
                                <xs:attribute name="visibility" type="xs:string" use="optional" />
                                <xs:attribute name="isStatic" type="xs:boolean" use="optional" />
                              </xs:complexType>
                            </xs:element>
                          </xs:sequence>
                          <xs:attribute name="id" type="xs:string" use="required" />
                          <xs:attribute name="implements" type="xs:string" use="optional" />
                          <xs:attribute name="isAbstract" type="xs:boolean" use="optional" />
                          <xs:attribute name="extends" type="xs:string" use="optional" />
                          <xs:attribute name="annotation" type="xs:string" use="required" />
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="properties">
                        <xs:complexType>
                          <xs:sequence>
                           	<xs:element name="newClass" minOccurs="0" maxOccurs="unbounded">
						        <xs:complexType>
						          <xs:attribute name="implements" type="xs:string" use="optional"/>
						        </xs:complexType>
						    </xs:element>
						    <xs:element name="newMethod" minOccurs="0" maxOccurs="unbounded">
						        <xs:complexType>
						          <xs:attribute name="belongs" type="xs:string" use="required"/>
						        </xs:complexType>
						    </xs:element>                            
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                    </xs:choice>
                  </xs:sequence>
                  <xs:attribute name="id" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="id" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>